.Chat
  .MainHeader
    .MainHeader__group
      .MainHeader__groupName
        = @group.name
      .MainHeader__memberList
        Member : 
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group), class: 'MainHeader__Edit' do
      Edit
  .Message
    = render @messages
  .Under_content
    .Form
      = form_with model: [@group, @message], html: {class: 'Form__contents'}, local: true do |f|
        .Form__inputBox
          = f.text_field :content, class: 'Form__inputText', placeholder: 'type a message'
          = f.label :image, class: 'Form__inputImg' do
            = icon('far', 'image')
            = f.file_field :image, class: 'Form__inputImg_file'
        = f.submit 'Send', class: 'Form__submitBtn'
